<div class="container">
    <aside class="sidebar">
        <ul>
            <li><a href="/">Sucursales</a></li>
            <li><a href="/catalogogeneral">Catálogo General</a></li>
            <li><a href="/historicos">Históricos</a></li>
            <li><a href="/configuracion">Configuración</a></li>
        </ul>
    </aside>
    <main class="main-content">
        <h1>{{sucursal?.nombre}}</h1>
        <h2>{{sucursal?.url}}</h2>
        <div class="menu-container">
            <div class="menu">
                <a href="#" class="opcion">Entradas y Salidas</a>
                <a href="#" class="opcion">Inventario</a>
                <a href="#" class="opcion">Traspasos</a>
                <button class="opcion" (click)="eliminarSucursal()">Eliminar Sucursal</button>
                <a href="#" class="opcion">Traspaso a Clínica</a>
            </div>
        </div>
    </main>
</div>