.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 25%;
  height: 100%;
  background-color: rgb(66, 66, 66);
  z-index: 100;
  transition: left 0.3s ease;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
  text-align: center;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-size: 15px; 
}

.sidebar ul h2 {
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 28px; 
}


.sidebar ul li a:hover {
  background-color: #555;
}

.sidebar ul li a.red {
  color: #d53f4e; 
  cursor: pointer;
}

.sidebar ul li a.red:hover {
  color: #ea5060; 
  cursor: pointer;
}

.sidebar .user-info {
  position: absolute;
  bottom: 10%; 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

.sidebar .user-info img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  margin-bottom: 10px;
}
