.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 40%;
  height: 100%;
  background-color: rgb(66, 66, 66);
  z-index: 100;
  transition: left 0.3s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar ul li {
  margin-bottom: 10px;
  text-align: center;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-size: 15px; 
}

.sidebar ul h2 {
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 28px; 
}

.sidebar ul li a:hover {
  background-color: #555;
}

.sidebar ul li a.red {
  color: #d53f4e; 
  cursor: pointer;
}

.sidebar ul li a.red:hover {
  color: #ea5060; 
  cursor: pointer;
}

.sidebar .user-info {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.sidebar .user-info img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  margin-bottom: 10px;
}

.user-info h3 {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 60%;
  }
  .sidebar ul h2 {
    font-size: 24px;
  }
  .sidebar ul li a {
    font-size: 14px;
  }
  .sidebar .user-info img {
    width: 45px; 
    height: 45px; 
  }
}

@media (max-width: 768px) and (orientation: landscape), (max-width: 480px) {
  .sidebar {
    width: 70%;
  }
  .sidebar ul h2 {
    font-size: 20px;
  }
  .sidebar ul li a {
    font-size: 12px;
    padding: 8px;
  }
  .sidebar .user-info {
    display: none; 
  }
}
