input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.quantity-input {
  width: 60px;
  border-width: 1px;      
    border-style: solid;   
    border-color: black;
}

h1,
h2 {
  margin-top: 1%;
  font-family: "Montserrat", sans-serif;
}
